:root {
    --light_shade: #FAF9F9;
    --light_accent: #8C939E;
    --main_brand: #A8A0B0;
    --dark_accent: #887792;
    --dark_shade: #253654;
    --overlay: rgb(35, 32, 27, 0.8);
}

html, body {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

body * {
    transition: 0.2s;
}

h1, h2, h3, h4, h5, h6, strong {
    color: var(--main_brand);
    font-family: 'Roboto', serif;
}
.home-wrap h1 span {
    color: var(--main_brand);
    font-family: 'Roboto', serif;
}

h1 {font-size: 56px;}
h2 {font-size: 36px;}
h3 {font-size: 28px;}
h4 {font-size: 24px;}
h5 {font-size: 20px;}
h6 {font-size: 16px;}

p, li, span, label, input, textarea {
    font-family: 'Inconsolata', monospace;
}
hr.solid {
    border-top: 3px solid var(--dark_shade);
    width: 80%;
}

a {
    text-decoration: none;
    color: var(--dark_shade);
}
ul {
    list-style: none;
}


.s1 {
    background-color: var(--dark_shade);
    color: var(--light_shade);
    border-bottom: 1px solid var(--light_accent);
    overflow: auto;
}
.s2 {
    background-color: var(--light_shade);
    color: var(--dark_shade);
    border-bottom: 1px solid var(--light_accent);
    overflow: auto;
}


#navigation {
    margin: 0;
    padding: 10px;
}

#navigation li {
    display: inline-block;
    margin-right: 5px;
    margin-left: 5px;
}
#navigation li a {
    text-transform: uppercase;
}

.nav-wrap {
    position: fixed;
    z-index: 2;
    border-radius: 0 0 5px 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--light_accent);
    width: 100%;
}

.hamburger {
    color: var(--light_shade);
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
    opacity: 0;
    z-index: 3;
    cursor: pointer;
    width: 40px;
    height: 40px;
    position: fixed;
}

.hamburger {
    z-index: 2;
    width: 20px;
    height: 20px;
    padding: 10px;
    background: var(--light_accent);
    display: none;
    align-items: center;
    justify-content: center;
}
.hamburger > div {
    position: relative;
    width: 100%;
    height: 2px;
    background-color: var(--light_shade);
    display: flex;
    align-items: center;
    justify-content: center;
}
.hamburger > div::before,
.hamburger > div::after {
    content: '';
    position: absolute;
    z-index: 2;
    top: -10px;
    width: 100%;
    height: 2px;
    background: inherit;
}
.hamburger > div::after {
    top: 10px;
}




.logo {
    color: var(--light_shade);
    margin-left: 20px;
    font-size: 25px;
}

#navigation li a {
    padding: 6px 10px;
    border-radius: 3px;
}
#navigation li a:hover,
#navigation li a.active {
    background-color: var(--dark_accent);
    color: var(--light_shade);
}


.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin-right: 10px;
}

.switch input {
    display: none;
}

/* The slider */
.switcher {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .switcher:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .switcher {
    background-color: black;
  }
  
  input:focus + .switcher {
    box-shadow: 0 0 1px black;
  }
  
  input:checked + .switcher:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .switcher.round {
    border-radius: 34px;
  }
  
  .switcher.round:before {
    border-radius: 50%;
  }




.intro-wrap {
    border-bottom: 1px solid var(--light_accent);
    border-radius: 5px 5px 0 0;

    -webkit-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
    box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
}

.main-container {
    width: 1200px;
    margin: 0 auto;
    padding-top: 15px;
}


.about-wrap {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    padding-top: 50px;
    padding-bottom: 50px;
    gap: 100px;
}

#about-img {
    width: 100%;
}


.post-wrap {
    display: grid;
    grid-template-columns: repeat(auto-fit, 360px);
    gap: 40px;
    justify-content: center;
    padding-bottom: 50px;
}

.post {
    border: 1px solid var(--light_accent);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
        'thumbnail'
        'description'
    ;

    -webkit-box-shadow: -5px 3px 16px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: -5px 3px 16px 1px rgba(0,0,0,0.75);
    box-shadow: -5px 3px 16px 1px rgba(0,0,0,0.75);
}

.thumbnail {
    grid-area: thumbnail;
    display: block;
    width: 100%;
    height: 240px;
    object-fit: cover;
}

.post-preview {
    grid-area: description;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: var(--light_shade);
    padding: 15px;
}
/* 1:25:00 for static colors*/
.post-title {
    margin: 0;
}

.post-intro {
    font-size: 15px;
    color: var(--dark_shade);
}


.booking-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
}

.cal {
    display: block;
    width: 100%;
    height: 60vh;
}


#contact {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-template-areas: 
        'form hours'
    ;

    padding-bottom: 20px;
}

#open-hours {
    grid-area: hours;
}

#contact-form {
    grid-area: form;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
        'form-name form-email'
        'form-phone form-phone'
        'form-message form-message'
        'form-send form-send' 
    ;
    gap: 15px;

    margin: 0 auto;
    width: 90%;
}

#form-name {
    grid-area: form-name;
}
#form-email {
    grid-area: form-email;
}
#form-phone {
    grid-area: form-phone;
}
#form-message {
    grid-area: form-message;
}
#submit-btn {
    grid-area: form-send;
}

#contact-form label {
    line-height: 2.7em;
}

#contact-form textarea {
    min-height: 100px;
    font-size: 14px;
}

.input-field {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: var(--light_shade);
    border-radius: 5px;
    border: 1px solid var(--light_accent);
    font-size: 14px;
}

#submit-btn {
    margin-top: 10px;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    color: var(--light_shade);
    background-color: var(--dark_accent);
    border: none;
}


@media screen and (max-width: 1200px){
    .main-container {
        width: 95%;
    }
}

@media screen and (max-width: 900px) {
    .logo {
        font-size: 30px;
        padding-right: 50px;
        padding-left: 50px;
    }
    #navigation li a {
        font-size: 16px;
    }

    .hamburger {
        display: flex;
    }
    a {
        color: var(--main_brand);
    }
    

    #navigation {
        position: fixed;
        width: 100%;
        height: 100%;
        background: var(--overlay);
        top: 40px;
        left: -120%;
        transition: all 0.5s ease;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        overflow: hidden;
    }
    #navigation li {
        display: block;
    }
    #navigation li a{
        font-size: 30px;
    }
    #navigation li a:hover,
    #navigation li a.active {
        background: none;
        color: var(--light_shade);
    }
    #check {
        display: block;
    }
    #check:checked ~ #navigation {
        left: 0;
    }

    #check:checked + .hamburger > div {
        transform: rotate(135deg);
    }

    #check:checked + .hamburger > div::before,
    #check:checked + .hamburger > div::after {
        top: 0;
        transform: rotate(90deg);
    }

    #check:checked:hover + .hamburger > div {
        transform: rotate(225deg);
    }


    .thumbnail {
        height: 240px;
    }

    #contact {
        display: grid;
        gap: 20px;
        grid-template-columns: 1fr;
        grid-template-areas: 
            'form'
            'hours'
        ;
    }
}
