:root {
    --light_shade: #F5F9F6;
    --light_accent: #F4AF54;
    --main_brand: #AEB8C2;
    --dark_accent: #C46878;
    --dark_shade: #466174;
}

html, body {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

body * {
    transition: 0.3s;
}

h1, h2, h3, h4, h5, h6, strong {
    color: var(--main_brand);
    font-family: 'Roboto', serif;
}
.home-wrap h1 span {
    color: var(--main_brand);
    font-family: 'Roboto', serif;
}

h1 {font-size: 56px;}
h2 {font-size: 36px;}
h3 {font-size: 28px;}
h4 {font-size: 24px;}
h5 {font-size: 20px;}
h6 {font-size: 16px;}

p, li, span, label, input, textarea {
    font-family: 'Inconsolata', monospace;
}

a {
    text-decoration: none;
    color: var(--dark_accent);
}
ul {
    list-style: none;
}


.s1 {
    background-color: var(--dark_shade);
    color: var(--light_shade);
    border-bottom: 1px solid var(--light_accent);
    overflow: auto;
}
.s2 {
    background-color: var(--light_shade);
    color: var(--dark_shade);
    border-bottom: 1px solid var(--light_accent);
    overflow: auto;
}


#navigation {
    margin: 0;
    padding: 10px;
}

#navigation li {
    display: inline-block;
    margin-right: 5px;
    margin-left: 5px;
}

.nav-wrap {
    position: fixed;
    z-index: 1000;
    border-radius: 0 0 5px 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--light_accent);
    width: 100%;
}

.check-btn {
    color: var(--light_shade);
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

.logo {
    color: var(--light_shade);
    margin-left: 20px;
    font-size: 25px;
}

#navigation li a {
    padding: 6px 10px;
    border-radius: 3px;
}
#navigation li a:hover,
#navigation li a.active {
    background-color: var(--light_shade);
    color: var(--main_brand);
}


.intro-wrap {
    border-bottom: 1px solid var(--light_accent);
    border-radius: 5px 5px 0 0;

    -webkit-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
    box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
}

.main-container {
    width: 1200px;
    margin: 0 auto;
}


.about-wrap {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    padding-top: 50px;
    padding-bottom: 50px;
    gap: 100px;
}

#about-img {
    width: 100%;
}


@media screen and (max-width: 1200px){
    .main-container {
        width: 95%;
    }
}

@media screen and (max-width: 900px) {
    .logo {
        font-size: 30px;
        padding-right: 50px;
        padding-left: 50px;
    }
    #navigation li a {
        font-size: 16px;
    }
}

@media screen and (max-width: 800px) {
    .check-btn {
        display: block;
    }
    

    #navigation {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: var(--dark_shade);
        top: 2.7rem;
        left: -120%;
        transition: all 0.5s;
        display: flex;
        flex-direction: column;
        row-gap: 8em;
        padding-top: 4em;
    }
    #navigation li {
        display: block;
    }
    #navigation li a{
        font-size: 30px;
    }
    #navigation li a:hover,
    #navigation li a.active {
        background: none;
        color: var(--main_brand);
    }
    #check:checked ~ #navigation {
        left: 0;
    }
}
