:root {
    --light_shade: #1F1B1D;
    --light_accent: #4F7DAD;
    --main_brand: #6881A6;
    --dark_accent: #C67589;
    --dark_shade: #F2E6E5;
    --overlay: rgb(31, 27, 29, 0.8);
}


.s1 {
    background-color: var(--light_shade);
    border-bottom: 1px solid var(--light_accent);
    color: var(--dark_shade);
    overflow: auto;
}

input, select, textarea {
    color: var(--dark_shade);
}

@media screen and (max-width: 900px) {
    #navigation li a:hover,
    #navigation li a.active {
        background: none;
        color: var(--dark_shade);
    }
}
