
html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: var(--dark_shade);
}
.intro-wrap, .main-container {
    border: none;
}


.styles, .styles ul {
    list-style: square;
}


.service-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.slideshow {
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider {
    height: 440px;
    width: 40vw;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.content {
    opacity: 0;
    position: absolute;
    height: 440px;
    margin: 100%;
    transition: all 0.4s ease;
}

.current {
    opacity: 1;
    margin: inherit;
}

#prev, #next {
    z-index: 1;
    cursor: pointer;
    background: transparent;
    border: none;
}

.slideshow button {
    color: var(--dark_accent);
}
.slideshow button:hover {
    color: var(--light_accent);
}


@media screen and (max-width: 900px) {
    .slideshow {
        justify-content: space-around;
    }
    .slider {
        width: 60vw;
    }
}




